@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

@use './delek.font.scss' as *;
@use  './helpers' as *;

html, body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  min-height: 100vh;

  background: url(/@/assets/bg.jpg);
}